.pwd-block {
    background: #d9d9d9;
    padding: 15px 30px;
    border-radius: 30px;
    font-family: monospace;
    font-size: 32px;
    font-weight: 500;
    letter-spacing: 4px;
    width: 600px;

}