.currency-page {
    .exchange {
        font-size: 45px;
        margin: 0 25px;
        cursor: pointer;
    }

    .table {
        .item {
            display: inline-block;
            width: 15%;
            margin: 15px;

            .num {
                font-size: 24px;
                color: #ff8f00;
            }
        }
    }
}