.ip-page {
    ul {
        padding: 10px;
        background: #fff5d5;
        display: inline-block;

        li {
            list-style: none;
            line-height: 1.7;
            font-size: 16px;
        }
    }
}