.ip-page {
    form {
        padding: 10px;
        background: #fff5d5;
        display: inline-block;
        width: 500px;

        .ant-row {
            list-style: none;
            line-height: 1.7;
            font-size: 16px;
            margin-bottom: 5px;
        }
    }
}