.encodePage {
  padding: 20px;
  max-width: 500px;
}

.hexConv {
  width: 800px;

  .hexAlert {
    width: 250px;
    margin: 0 15px;
  }

  .inputList {
    display: flex;
    align-items: center;

    .item {
      margin: 15px;

    }

    input {
      width: 150px;
      margin-top: 10px;
      text-transform: uppercase;
    }

  }
}