#domResult {
    svg {
        width: 120px;
        height: 120px;
        margin: 10px;
    }
}

.svgTool {
    .btngroup {
        display: flex;

        button {
            margin-left: 15px;

            .anticon {
                vertical-align: .1em;
            }
        }

    }
}