.result {
    .file {
        margin: 25px 0;

        .file-name {
            .anticon {
                cursor: pointer;

                &:active {
                    color: red;
                }
            }
        }

        .file-content {
            padding: 15px 10px;

        }
    }

    .item {
        display: inline-block;
        vertical-align: top;
        text-align: center;
        margin: 5px;
        width: 150px;
        border-radius: 8px;
        overflow: hidden;

        .icon {
            margin: auto;
            padding: 10px;

            svg {
                width: 130px;
                height: 130px;
            }
        }

        .text {
            padding: 10px;
            font-size: 13px;
            color: #999;
        }

        @dark: #888;
        @light: #ccc;

        &:hover {
            background-color: #eee;

            .icon {
                box-shadow: inset 5px 5px 20px rgba(26, 26, 26, 0.5);
                background: conic-gradient(@light 0.25turn, @dark 0.25turn 0.5turn, @light 0.5turn 0.75turn, @dark 0.75turn) top left / 25px 25px repeat;
            }
        }
    }

}

.svgTool {
    .btngroup {
        display: flex;

        button {
            margin-left: 15px;

            .anticon {
                vertical-align: .1em;
            }
        }

    }
}

.svgBg {
    .common-box {
        padding: 20px;
    }

    .title-text {
        font-size: 16px;
        margin: 10px 5px 5px;
    }

    .inputbox {
        width: 500px;
        max-width: 100%;
        color: #777;
        height: 200px;
    }

    .inputbox2 {
        width: 700px;
        max-width: 100%;
        color: #777;
        height: 200px;
    }

    #preview {
        height: 200px;
        width: 200px;
        background-color: rgb(238, 238, 238);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
}