.colorPage {
    padding: 30px;
    .item-input {
        width: 250px;
        display: inline-block;
    }
    .mainValue {
        display: block;
        height: 200px;
        width: 200px;
    }
    .list {
        display: flex;
        .item {
            display: block;
            height: 40px;
            width: 1%;
        }
        .box::after {
            content: '';
            position: absolute;
            width: inherit;
            height: inherit;
            border: 3px solid #ddd;
            box-sizing: content-box;
            margin-top: -3px;
            margin-left: -3px;


        }
    }
}