.colorPage {
    padding: 30px;

    .item-input {
        width: 250px;
        display: inline-block;
    }

    .actionList {
        display: flex;
        flex-wrap: wrap;
        background-color: #f8f8f8;

        .colorSet {
            padding: 0 20px;
        }

        .colorList {
            width: 64%;
            padding: 20px;
            display: flex;
            flex-wrap: wrap;

            .colorItem {
                min-width: 480px;
            }

        }
    }

    .previewColor {
        display: flex;
        margin: 10px 0;
        width: 32%;
        min-width: 480px;
        // background-color: #f0f0f0;
        background: conic-gradient(#ddd 0.25turn, #999 0.25turn 0.5turn, #ddd 0.5turn 0.75turn, #999 0.75turn) top left / 25px 25px repeat;

        .previewBox {
            display: flex;
            flex-wrap: wrap;
        }
    }

    .mainValue {
        display: inline-flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        font-size: 2em;
        margin: 1px;
        height: 200px;
        width: 200px;
    }

    .sliderBlock {
        padding: 10px 0 15px;
    }

    .list {
        display: flex;
        height: 20px;
        border-radius: 6px;
        box-shadow: 0 0 0 3px #f8f8f8, 0 0 0 5px silver;

        &.bg_h {
            background-image: var(--linear-h);
        }

        &.bg_s {
            background-image: var(--linear-s);
        }

        &.bg_l {
            background-image: var(--linear-l);
        }

        &.bg_a {
            background-image: var(--linear-a);
        }

        &.bg_r {
            background-image: var(--linear-r);
        }

        &.bg_g {
            background-image: var(--linear-g);
        }

        &.bg_b {
            background-image: var(--linear-b);
        }
    }

    .ant-slider {
        // margin-left: .5%;
        // margin-right: .5%;
        margin-top: -24px;
    }

    .ant-slider-track,
    .ant-slider-rail {
        height: 20px;
        opacity: 0;
    }

    .ant-slider-handle {
        border-radius: 10px;
        width: 0;
        height: 20px;
        border-width: 7px;
        margin-top: -7px;
        box-sizing: content-box;
    }


    .codebox {
        margin: 20px 0 10px;
        max-height: 0;
        overflow: hidden;
        transition: all 200ms linear;

        &.showCode {
            max-height: 500px;
        }
    }


}


// color List Bottom

.colorListBottom {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px 5px;
    .action {

        .ant-switch {
            margin-left: 15px;
        }
    }

    .cats {
        display: flex;
    }

    .cat {
        margin: 5px;
        width: 33%;
        box-sizing: border-box;
        display: inline-flex;

        .colorItem {
            box-sizing: border-box;
            border-radius: 100%;
            border: 3px solid #e8e8e8;
            margin: 5px 0 5px -15px;
        }
    }

    .count10 .colorItem {
        width: 60px;
        height: 60px;
    }

    .count15 .colorItem {
        width: 44px;
        height: 44px;
    }

    .count20 .colorItem {
        width: 32px;
        height: 32px;
        margin-left: -10px;
        border-width: 2px;
    }

    .count30 .colorItem {
        width: 24px;
        height: 24px;
        margin-left: -5px;
        border-width: 2px;
    }
}