.code-block {
    box-sizing: border-box;
    background: #f0f9fd;
    margin: 10px 5px;
    padding: 15px 20px 10px;
    border-radius: 10px;
    border: 1px solid #9fbde0;
    white-space: pre-wrap;
    word-break: keep-all;
}