.app-home {
    padding: 20px;

    .btn-list {
        button {
            margin: 8px;
        }
    }

    .github {
        position: fixed;
        bottom: 20px;
        width: calc(100% - 40px);
    }


    .ant-divider-horizontal.ant-divider-with-text::before,
    .ant-divider-horizontal.ant-divider-with-text::after {
        border-color:rgba(9, 60, 83, 0.1);

    }
    

}