.app-home {
    padding-bottom: 100px;


    .page-title {
        text-transform: inherit;
        font-size: 26px;
        margin: 0;

    }

    .btn-list {
        gap: 30px;
        display: flex;
        flex-wrap: wrap;
        .item {
            overflow: hidden;
            display: inline-flex;
            align-items: center;
            border-radius: 10px;
            padding: 10px 0;
            --round-color: color-mix(in srgb, var(--color-item) 30%, #fff0 100%);
            background: color-mix(in srgb, var(--color-item) 4%, #fff 100%);
            border: 2px solid  var(--round-color);
            box-shadow: 5px 2px 0 1px var(--round-color);

            .letter {
                font-size: 30px;
                line-height: 30px;
                background: color-mix(in srgb, var(--color-item) 20%, #0002 5%);
                padding: 15px;
                border-radius: 999px;
                margin: 0 10px 0 20px;
            }

            .text {
                margin: 0px auto;
                line-height: 1.4;
                margin-right: 20px;
                text-align: center;
                // padding-right: 10px;
                color: #666;
                min-width: 6em;
            }

            &:hover {
                
            --round-color: color-mix(in srgb, var(--color-item) 45%, #fff 100%);

                background: color-mix(in srgb, var(--color-item) 15%, #fff7 100%);
                transition: all linear 0.2s;
                border-color: var(--round-color);
                box-shadow: 8px 3px 0 3px var(--round-color);
            }
        }
    }

    .footer {
        position: fixed;
        padding: 20px;
        width: 100%;
        background: #fff;
        bottom: 0;
        left: 0;

        .link {
            color: #00bbbb;
            cursor: pointer;
        }
    }

    .ant-divider-horizontal.ant-divider-with-text {
        color: rgba(0, 0, 0, 0.65);
        font-weight: initial;
    }

    .ant-divider-horizontal.ant-divider-with-text::before,
    .ant-divider-horizontal.ant-divider-with-text::after {
        border-color: rgba(9, 60, 83, 0.1);

    }

    .splitcolor {
        color: #bbb;
        margin: 0 10px;
    }

    .footertext {
        text-shadow: -1px -1px 0 rgba(238, 238, 238, 0.75);
    }

    h2 {
        font-size: 2em;
        // font-style: italic;
        margin-top: 20px;
        transform: skewX(-5deg);

        &::before {
            margin-right: 8px;
            content: '';
            vertical-align: -5px;
            width: 3px;
            height: 1.25em;
            background-color: #0bb;
            display: inline-block;
        }
    }

    .lab-logo {
        width: 1.5em;
        height: 2em;
        margin-right: 15px;
    }

}

.lab-mpcode {
    width: 200px;
    height: 200px;
}