.app-home {
    padding: 20px;
    padding-bottom: 100px;

    .home-container {
        padding: 10px;
    }

    .page-title {
        text-transform: inherit;
        font-size: 26px;

    }

    .btn-list {
        .item {
            width: 70px;

            svg {
                width: 50px;
                height: 50px;
            }

            .text {
                margin: 8px auto;
                line-height: 1.4;
            }

            &:hover {
                transition: all linear 0.2s;
                transform: scale(1.12);
                filter: hue-rotate(145deg);
            }
        }
    }

    .github {
        position: fixed;
        padding: 20px;
        width: 100%;
        background: #fff;
        bottom: 0;
        left: 0;
    }

    .ant-divider-horizontal.ant-divider-with-text {
        color: rgba(0, 0, 0, 0.65);
        font-weight: initial;
    }

    .ant-divider-horizontal.ant-divider-with-text::before,
    .ant-divider-horizontal.ant-divider-with-text::after {
        border-color: rgba(9, 60, 83, 0.1);

    }

    .splitcolor {
        color: #bbb;
        margin: 0 10px;
    }

    .footertext {
        text-shadow: -1px -1px 0 rgba(238, 238, 238, 0.75);
    }

    h2 {
        font-size: 2em;
        // font-style: italic;
        margin-top: 20px;
        transform: skewX(-5deg);

        &::before {
            margin-right: 8px;
            content: '';
            vertical-align: -5px;
            width: 3px;
            height: 1.25em;
            background-color: #0bb;
            display: inline-block;
        }
    }

    .lab-logo {
        width: 2em;
        height: 2em;
        margin-right: 15px;
    }


}