@import '~antd/dist/antd.less';

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.fullpage {
  height: 100vh;
  width: 100vw;
}
.ant-message .anticon {
  vertical-align: 0.05em;
}

#root .ant-radio-button-wrapper {
  margin-bottom: 10px;
  user-select: none;
}

.common-box {
  padding: 30px;
  color: #666;
  font-size: 16px;
}

.transparentBg {
  background: conic-gradient(#ddd 0.25turn, #999 0.25turn 0.5turn, #ddd 0.5turn 0.75turn, #999 0.75turn) top left / 50px 50px repeat;
}

.pageYi {
  margin: 30px 25px;

  .yiContainer {
    margin: 5px auto;
    width: 90%;
    max-width: ~"min(1000px, 70vh)";
  }

  svg {
    width: 100%;
    height: 100%;
  }

  canvas {
    position: absolute;
    top: -1200px;
  }

  .downloadBtn {
    position: fixed;
    bottom: 20px;

    .ant-btn+.ant-btn {
      margin-left: 12px;
    }
  }
}

.pointer {
  cursor: pointer;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  &.around {
    justify-content: space-around;
  }

  &.center {
    justify-content: center;
  }

  &.end {
    justify-content: flex-end;
  }

  &.start {
    justify-content: flex-start;
  }

  &.top {
    align-items: flex-start;
  }

  &.bottom {
    align-items: flex-end;
  }

  &.column {
    flex-direction: column;
  }

}

// space 


@sizes: 0, 5, 8, 10, 15, 20, 25, 30, 45;

@sides: {
  l: -left;
  r: -right;
  t: -top;
  b: -bottom
}

.gen-space(@sizes; @sides; @index) when (@index>0) {
  .gen-space(@sizes; @sides; @index - 1);

  @size : extract(@sizes, @index);

  .m@{size} {
    margin: (@size * 1px);
  }

  .p@{size} {
    padding: (@size * 1px);
  }

  .mx@{size} {
    margin-left: (@size * 1px);
    margin-right: (@size * 1px);
  }

  .my@{size} {
    margin-top: (@size * 1px);
    margin-bottom: (@size * 1px);
  }

  .px@{size} {
    padding-left: (@size * 1px);
    padding-right: (@size * 1px);
  }

  .py@{size} {
    padding-top: (@size * 1px);
    padding-bottom: (@size * 1px)
  }

  each(@sides, .(@v, @k, @i) {
      .m@{k}@{size} {
        margin@{v}: (@size * 1px);
      }

      .p@{k}@{size} {
        padding@{v}: (@size * 1px);
      }

    }

  );

}

.gen-space(@sizes; @sides; length(@sizes));


@widths: 60, 80, 90, 100, 120, 140, 150, 160, 170, 180, 200, 220, 250, 300, 320, 350, 400, 450;

each(@widths, {

    .w@{value},
    [class^="ant-"].w@{value} {
      width: (@value * 1px);
    }

    .h@{value} {
      height:(@value * 1px);
    }

  }

);

@pcts: 10, 15, 20, 25, 33, 46, 50, 64, 66, 75, 80, 85, 90, 100;

each(@pcts, {
    .pct@{value} {
      width: (@value * 100% / 100);
    }

  }

);